@import url(https://fonts.googleapis.com/css?family=Aldrich);

.indepth_pages{
	position: relative;
	font-family: 'Aldrich', sans-serif;
}

#indepth_portada{
	background-image: url(../images/Fondo_portada.png);
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	display: table;
	font-family: 'Aldrich', sans-serif;
}

#indepth_portada_cont{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#indepth_portada_img{
	width: 100%;
	margin: auto;
	background-image: url(../images/Polvo.png), url(../images/Texto.png);
	background-position:  center top, center top ;
	background-size: 1400px auto, 1200px auto;
	background-repeat: no-repeat, no-repeat;
	padding-top: 50px;
}

#indepth_portada_img img{
	width: 100%;
	max-width: 790px;
}

.indepth_cover_descripcion{
	width: 100%;
	max-width: 700px;
	font-size: 16px;
	margin: auto;
	margin-top: 20px;
}

.indepth_calle_text{
	font-size: 16px;
	color: #d81a3e;
	display: inline-block;
	height: 100%;
	line-height: 100%;
}

#calle{
	margin: auto;
	margin-top: 25px;
	height: 34px;
	width: 500px;
	
}

#indepth_barra_zone{
	z-index: 10;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#indepth_barra_zona_color{
	background-image: url(../images/Autozone_bar.png);
	width: calc(100% - 285px);
	height: 100%;
	float: left;
	background-position: left bottom;
}

#indepth_barra_zona_img{
	width: 275px;
	background-image: url(../images/Autozone_logo.png);
	float: left;
	height: 100%;
	background-size: auto 100%;
	background-position: left bottom 2px;
	background-repeat: no-repeat;
}

#indepth_direccion{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: red;
	display: none;
	z-index: 10;
}

#indepth_direction_cont{
	width: 100%;
	height: 100%;
	position: relative;
}

#indepth_street_view{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#map_container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.6);
	display: table;
}

.indepth_map_datos{
	
}

.map_cont{
	display: table-cell;
	vertical-align: middle;
}

.gmnoprint, .gmnoscreen, .gmnoprint{
	display: none;
}

/*#indepth_portada_img:before{
	content: "";
	background-image: url(../images/Texto.png);
	z-index: 1;
	background-size: 1200px auto;
	background-position: center top;
	width: 100%;
	
}*/

#map {
        width: 1000px;
        height: 550px;
        margin: auto;
      }
      
      
#indepth_street_view{
	width: 100%;
	height: 100%;
	
}
.controls {
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: transparent;
  background-image: url(../images/Input.png);
  background-size:auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  height: 34px;
  font-size: 16px;
  color: white;
  margin-left: 5px;
  padding: 0 50px 0 10px;
  text-overflow: ellipsis;
  width: 332px;
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
  border: none;
  box-shadow:none;
  display: inline-block;
  vertical-align: top;
  line-height: 37px;
}

#pac-input:focus {
    border: none;
}

#indepth_ver{
	width: 60px;
	height: 34px;
	background-image: url(../images/OK.png);
	display: inline-block;
	margin-left: -12px;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-item{
	background: white;
}

.pac-item:nth-child(4), .pac-item:nth-child(5){
	display: none;
}

.hdpi.pac-logo:after{
		
}

.pac-logo:after{
	height: 0;
	display: none;
}

.pac-container {
  max-width: 320px;
}

#type-selector {
  color: blue;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#indeptt_map_c{
	width: 1000px;
	margin: auto;
}

.indepth_map_datos{
	color: white;
	width: 100%;
	height: 30px;
	line-height: 35px;
}

.indepth_map_text{
	float: left;
	font-family: 'Aldrich', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

#indepth_map_flecha{
	width: 30px;
	height: 100%;
	background-image: url(../images/Flecha.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	line-height: 30px;
	margin: 0 10px;
}

#indepth_kilometros{
	float: right;
	font-family: 'Aldrich', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

#map{
	width: 100%;
	height: 500px;
}

#boton_empezar{
	margin: 15px auto;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 30px;
}

#boton_to_vel{
	margin: 15px auto;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 30px;
	position: absolute;
	top: 3%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	z-index: 100001;
	display: none;
}

#indepth_auto{
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	margin: auto;
	
	
}

#indepth_pov{
	width: 31%;
	height: 150px;
	background-image: url(../images/POV.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	-webkit-transform: translate(0px,150px);
	background-size: contain;
	margin: auto;
	
	
}

.pov_active{
    animation-name: pov_animate;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes pov_animate {
    from {-webkit-transform: translate(0px,150px);}
    to {-webkit-transform: translate(0px,0px);}
}

#indepth_velocimetro{
	width: 250px;
	height:240px;
	background-image: url(../images/Velocimetro_grande.png);
	background-position: center center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	z-index: 10001;
	left: 2%;
	bottom: 150px;
	display: none;
}

@media screen and (max-width: 1100px){
	#indeptt_map_c{
		width: 800px;
	}
	
	.indepth_map_text{
		font-size: 12px;
	}
}

@media screen and (max-width: 900px){
	#indeptt_map_c{
		width: 700px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
}

@media screen and (max-width: 800px){
	#indeptt_map_c{
		width: 600px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
	#indepth_pov{
		width: 40%;
	}
}


@media screen and (max-width: 750px){
	#indeptt_map_c{
		width: 500px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
	
	.indepth_map_text{
		float: none;
		line-height: 10px;
		display: table;
	}
	
	#indepth_map_flecha{
		float: none;
		height: 10px;
		margin: 5px 0;
	}
	
	#indepth_kilometros{
		display: table;
		right: 0;
    position: absolute;
    top: 0;
	}
	
	.indepth_map_datos{
		display: table;
		margin-bottom: 5px;
		position: relative;
	}
	
}

@media screen and (max-height: 900px){
	#indepth_portada_img img{
		max-width: 600px;
	}
}

@media screen and (max-height: 800px){
	#indepth_portada_img img{
		max-width: 400px;
		width: 100%;
	}
	
	#indepth_portada_img {
	    background-size: 1000px auto, 1000px auto;
	}
	

	
	#map{
		height: 400px;
	}
}

@media screen and (max-width: 600px){
	#calle{
		width: 96%;
		margin: auto;
		margin-top: 25px;
		height: auto;
	}
	
	#indepth_portada_img {
	    background-size: 800px auto, 600px auto;
	    padding-top: 10px;
	}
	
	.indepth_cover_descripcion{
		font-size: 13px;
	}
	
	.indepth_calle_text{
		height: auto;
		margin-bottom: 5px;
	}
	
	#indeptt_map_c{
		width: 90%;
		
	}
	
	#indepth_kilometros{
		position: inherit;
	}
	
	#indepth_velocimetro{
		width: 120px;
		height: 130px;
	}
	
	#indepth_street_view{
		width: 100%;
		height: 400px;
		
	}
	
	#indepth_pov{
		width: 70%;
		height: 50px;
		
	}
	
	#indepth_auto{
		height: 50px;
	}
}

@media screen and (max-height: 700px){
	#indepth_portada_img img{
		max-width: 300px;
	}
	
	#indepth_portada_img {
	    background-size: 800px auto, 800px auto;
	    padding-top: 30px;
	}
	

	
	#map{
		height: 400px;
	}
	
	.indepth_cover_descripcion{
		font-size: 14px;
	}
}
