@import url(https://fonts.googleapis.com/css?family=Aldrich);


.gm-style > div:nth-child(9), #nav-bar-stats{
 display:none;
}

#indepth_fox_logo{
	background-image: url(../images/fox/FoxVivo.png);
	width: 100px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100000;
}

#indepth_fox_ht{
	background-image: url(../images/fox/Hashtag.png);
	width: 135px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 20px;
	position: absolute;
	right: 5px;
	z-index: 10;
	z-index: 100000;
}

#indepth_f1_logo{
	background-image: url(../images/fox/F1.png);
	width: 120px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 30px;
	left: 5px;
	z-index: 10;
	position: absolute;
	z-index: 100000;
}

#indepth_fox_branding{
	width: 250px;
	height: 70px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	background-image: url(../images/fox/FoxSports.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}


.indepth_share_card_boton{
	  margin: 10px auto;
	  display: table;
	  margin-top: 5px;

}
.indepth_share{
		display: none;
		position: fixed;
		right: 10px;
		bottom: 10px;
		z-index: 200;
		
	}
	
	.indepth_share_item{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.2);
		float: left;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 15px ;
		margin-left: 7px;
		cursor: pointer;
	}
	
	.indepth_share_item.facebook{
		background-image: url(../images/boton_facebook.png);
		
	}
	#indepth_share_card .indepth_share_item.facebook{
		background-color: #3660A4;
	}
	
	.indepth_share_item.facebook:hover{
		background-color: #3660A4;
	}
	
	#indepth_share_card .indepth_share_item.twitter{
		background-color: #02B2F7;
	}
	
	.indepth_share_item.twitter{
		background-image: url(../images/boton_twitter.png);
		
	}
	
	.indepth_share_item.twitter:hover{
		background-color: #02B2F7;
	}
	
	
	.indepth_share_item.whatsapp{
		background-image: url(../images/boton_whatsapp.png);
		display: none;
	}
	
	.indepth_share_item.whatsapp:hover{
		background-color: #85D86D;
	}
	
	.indepth_comprate{
		margin: 10px auto;
		text-align: center;
		text-transform: uppercase;
	}


.indepth_pages{
	position: relative;
	font-family: 'Aldrich', sans-serif;
}

#indepth_portada{
	background-image: url(../images/Fondo_portada.png);
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	display: table;
	font-family: 'Aldrich', sans-serif;
}

#indepth_portada_cont{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#indepth_portada_img{
	width: 100%;
	margin: auto;
	background-image: url(../images/Polvo.png), url(../images/Texto.png);
	background-position:  center top -20px, center top 10px;
	background-size: 1400px auto, 1200px auto;
	background-repeat: no-repeat, no-repeat;
	padding-top: 50px;
}

#indepth_portada_img img{
	width: 100%;
	max-width: 790px;
}

.indepth_cover_descripcion{
	width: 96%;
	max-width: 700px;
	font-size: 16px;
	margin: auto;
	margin-top: 20px;
}

.indepth_calle_text{
	font-size: 16px;
	color: #d81a3e;
	display: inline-block;
	height: 100%;
	line-height: 100%;
}

#calle{
	margin: auto;
	margin-top: 25px;
	height: 34px;
	width: 500px;
	
}

#indepth_barra_zone{
	z-index: 10;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#indepth_barra_zona_color{
	background-image: url(../images/Autozone_bar.png);
	width: calc(100% - 285px);
	height: 100%;
	float: left;
	background-position: left bottom;
}

#indepth_barra_zona_img{
	width: 275px;
	background-image: url(../images/Autozone_logo.png);
	float: left;
	height: 100%;
	background-size: auto 100%;
	background-position: left bottom 2px;
	background-repeat: no-repeat;
}

#indepth_direccion{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: none;
	z-index: 10;
	background-color: black;
}

#indepth_direction_cont{
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center bottom;
}

#indepth_street_view{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#map_container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.6);
	display: table;
}

.indepth_map_datos{
	
}

.map_cont{
	display: table-cell;
	vertical-align: middle;
}

.gmnoprint, .gmnoscreen, .gmnoprint{
	display: none;
}

/*#indepth_portada_img:before{
	content: "";
	background-image: url(../images/Texto.png);
	z-index: 1;
	background-size: 1200px auto;
	background-position: center top;
	width: 100%;
	
}*/

#map {
        width: 1000px;
        height: 550px;
        margin: auto;
      }
      
      
#indepth_street_view{
	width: 100%;
	height: 100%;
	
}
.controls {
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: transparent;
  background-image: url(../images/Input.png);
  background-size:auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  height: 34px;
  font-size: 16px;
  color: white;
  margin-left: 5px;
  padding: 0 50px 0 10px;
  text-overflow: ellipsis;
  width: 332px;
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
  border: none;
  box-shadow:none;
  display: inline-block;
  vertical-align: top;
  line-height: 37px;
}

#pac-input:focus {
    border: none;
}

#indepth_ver{
	width: 60px;
	height: 34px;
	background-image: url(../images/OK.png);
	display: inline-block;
	margin-left: -12px;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-item{
	background: white;
}

.pac-item:nth-child(4), .pac-item:nth-child(5){
	display: none;
}

.hdpi.pac-logo:after{
		
}

.pac-logo:after{
	height: 0;
	display: none;
}

.pac-container {
  max-width: 320px;
}

#type-selector {
  color: blue;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#indeptt_map_c{
	width: 1000px;
	margin: auto;
}

.indepth_map_datos{
	color: white;
	width: 100%;
	height: 30px;
	line-height: 35px;
}

.indepth_map_text{
	float: left;
	font-family: 'Aldrich', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.indepth_map_flecha{
	width: 30px;
	height: 100%;
	background-image: url(../images/Flecha.png);
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	line-height: 30px;
	margin: 0 10px;
	height: 30px;
}

#indepth_kilometros{
	float: right;
	font-family: 'Aldrich', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

#map{
	width: 100%;
	height: 500px;
}

#boton_empezar{
	margin: 15px auto;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 30px;
}

#indepth_semaforo{
	max-width: 300px;
	width: 90%;
	margin: auto;
	position: absolute;
	top: 15%;
	left: 50%;
	-ms-transform: translate(-50%, 0px);
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	
	-o-transform: translate(-50%, 0px);
	-moz-transform: translate(-50%, 0px);
	height: 70px;
	z-index: 100000001;
	 display: none;
}

.indepth_semaforo_item{
	width:55px;
	margin:0 10px;
	float: left;
	height: 100%;
	background-image: url(../images/iconosybotonf1/PNG_Semaforo1.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	animation-name: semaforo;
    -webkit-animation-fill-mode: forwards;
   
}

.indepth_semaforo_item.green{
	background-image: url(../images/iconosybotonf1/PNG_Semaforo2.png);
}

#indepth_semafoto1{
	animation-duration: 0s;
	animation-delay: .4s;
}

#indepth_semafoto2{
	animation-duration: 0s;
	animation-delay: .8s;
}

#indepth_semafoto3{
	animation-duration: 0s;
	animation-delay: 1.2s;
}

#indepth_semafoto4{
	animation-name: semaforo2;
	animation-duration: 0s;
	animation-delay: 2s;
}


@keyframes semaforo{

	to{
		background-image: url(../images/iconosybotonf1/PNG_Semaforo1_ON.png);
	}
}


@keyframes semaforo2{

	to{
		background-image: url(../images/iconosybotonf1/PNG_Semaforo2_ON.png);
	}
}

#boton_to_vel{
	margin: 5px auto;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 14px;
	
}

.indepth_share_item2{
	margin: 15px 5px;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
}

.indepth_share_item2:hover{
	opacity: .9;
}

.indepth_share_card_boton{
	width: auto;
	margin: 20px auto;
	text-align: center;
}

#cont_to_vel{
	position: absolute;
	bottom: 90px;
	left: 50%;
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	z-index: 100001;
	display: none;
}

#text_to_vel{
	max-width: 400px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	padding: 10px 5px;
	text-align: center;
	font-size: 14px;
}

#text_to_vel span{
	font-size: 12px;
}


#boton_de_nuevo{
	margin: 15px auto;
	width: 132px;
	height: 34px;
	background-image: url(../images/Boton.png);
	background-size: contain;
	background-position: center center;
	text-transform: uppercase;
	color: white;
	line-height: 37px;
	cursor: pointer;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 30px;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	
	-o-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	z-index: 100001;
	display: none;
	font-size: 10px;
	bottom: -70px;
}

#indepth_auto{
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	margin: auto;
}

#indepth_pov{
	width: 450px;
	height: 120px;
	background-image: url(../images/POV.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	-ms-transform: translate(0px,90px);
	-webkit-transform: translate(0px,90px);
	transform: translate(0px,90px);
	-o-transform: translate(0px,90px);
	-moz-transform: translate(0px,90px);
	
	background-size: 100% auto;
	margin: auto;	
}

.pov_active{
    animation-name: pov_animate;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes pov_animate {
    from {-ms-transform: translate(0px,150px);-webkit-transform: translate(0px,150px);}
    to {-ms-transform: translate(0px,0px);-webkit-transform: translate(0px,0px);}
}

#indepth_velocimetro{
	width: 200px;
	height:200px;
	background-image: url(url(../images/velocimetro/velocimentro2_0000.png));
	background-position: center center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	z-index: 10001;
	right: 15%;
	bottom: 50px;
	display: none;
}

#indepth_noST{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 1;
	background-image:  url(../images/IMG_NoMaps.png);
	background-position: center bottom;
	background-size: cover;
}

#indepth_noST_msg{
	max-width: 500px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

#indepth_video_a{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 1;
}

#indepoth_gif_video{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 1;
	
}

#indepth_video_a video{
	  position: fixed;
	 bottom: 0px;
	 right: 0px;
	 min-width: 100%;
	 min-height: 100%;
	 z-index: 0;
	 overflow: hidden;
}

#indepth_resultados{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px 50px;
	color: white;
	font-size: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 100001;
	display: none;
	max-width: 1024px;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
	
	width: calc(100% - 180px);
	margin-top: -30px;
	
}

#res_tiempo{
	margin-top: 3px;
	margin-bottom: 15px;
}

#indepth_resultados .indepth_share_card_boton{
	margin: auto;
}

#indepth_res_cont_des{
	height: 30px;
	width: auto;
	margin: auto;
	text-align: center;
	line-height: 35px;
	display: table;
	max-width: 90%;
	margin: auto;
	
}

#res_datos_cont{
	text-align: center;
}

#res_distancia, #res_tiempo, #res_velocidad{
	width: 160px;
	font-size: 16px;
	color: #b31432;
	display: inline-block;
	text-transform: uppercase;
	padding: 25px 0;
	position: relative;
}

#res_distancia:after, #res_tiempo:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 100%;
	background-image: url(../images/Division.png);
}

#res_distancia, #res_tiempo{
	padding-right: 45px;
}

#res_distancia div, #res_tiempo div, #res_velocidad div{
	color: white;
	font-size: 22px;
	margin-top: 5px;
	line-height: 40px;
	padding-top: 50px;
	background-repeat: no-repeat;
	background-position: center bottom 50px;
	
}


#res_velocidad div{
	background-image: url(../images/iconosybotonf1/Velocidad.png);
	background-size: 46px auto;
}
 #res_tiempo div{
	 background-image: url(../images/iconosybotonf1/Tiempo.png);
	 background-size: 40px auto;
 }

#res_distancia div{
	background-image: url(../images/iconosybotonf1/Distancia.png);
		background-size: 50px;
}

#preload{
	position: absolute;
	    margin-left: -999999999px;
    margin-top: -9999999999px;
}

#res_datos_on{
	max-width: 500px;
	width: 96%;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

#res_tiempo_carro, #res_tiempo_bus, #res_tiempo_bici, #res_tiempo_walk{
	width: 120px;
	height: auto;
	padding-top: 45px;
	color: white;
	font-size: 16px;
	text-align: center;
	background-repeat: no-repeat;
	display: inline-block;
	text-transform: uppercase;
}

#res_tiempo_carro{
	background-image: url(../images/iconosybotonf1/Carro.png);
	background-position: center top;
	background-size: 44px auto;
}

#res_tiempo_bus{
	background-image: url(../images/iconosybotonf1/Transporte_publico.png);
	background-position: center top;
	background-size: 50px auto;
}

#res_tiempo_walk{
	background-image: url(../images/iconosybotonf1/Caminando.png);
	background-position: center top;
	background-size: 44px auto;
}

#res_tiempo_bici{
	background-position: center top;
	background-size: 55px auto;
	background-image: url(../images/iconosybotonf1/Bici.png);
}


@media screen and (max-width: 1100px){
	#indeptt_map_c{
		width: 800px;
	}
	
	.indepth_map_text{
		font-size: 12px;
	}
}

@media screen and (max-width: 900px){
	#indeptt_map_c{
		width: 700px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
	
	#indepth_portada_img{
				background-position:  center top -15px, center top ;
		background-size: 1200px auto, 600px auto;
		
	}
}

@media screen and (max-width: 800px){
	#indeptt_map_c{
		width: 600px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
	#indepth_pov{
		width: 45%;
	}
	
	#indepth_portada_img{
				background-position:  center top -15px, center top ;
		background-size: 1200px auto, 1000px auto;
		
	}
}


@media screen and (max-width: 750px){
	#indeptt_map_c{
		width: 500px;
	}
	
	.indepth_map_text{
		font-size: 10px;
	}
	
	.indepth_map_text{
		float: none;
		line-height: 10px;
		display: table;
	}
	
	.indepth_map_flecha{
		float: none;
		height: 10px;
		margin: 5px 0;
		
	}
	
	#indepth_kilometros{
		display: table;
		right: 0;
    position: absolute;
    top: 0;
	}
	
	.indepth_map_datos{
		display: table;
		margin-bottom: 5px;
		position: relative;
	}
	
}

@media screen and (max-height: 1100px){
	#indepth_portada_img img{
		max-width: 600px;
	}
}

@media screen and (max-height: 1000px){
	#indepth_portada_img img{
		max-width: 500px;
		width: 100%;
	}
	
	#indepth_portada_img {
	    background-size: 1400px auto, 1000px auto;
	}
	

	
	#map{
		height: 400px;
	}
}

@media screen and (max-height: 700px){
	#indepth_portada_img img{
		max-width: 450px;
		width: 100%;
	}
	
	#indepth_portada_img {
	    background-size: 1200px auto, 700px auto;
	}
	

	
	#map{
		height: 400px;
	}
}

@media screen and (max-width: 600px){
	#calle{
		width: 96%;
		margin: auto;
		margin-top: 25px;
		height: auto;
	}
	
	#indepth_portada_img {
	    background-size: 800px auto, 600px auto;
	    padding-top: 10px;
	}
	
	.indepth_cover_descripcion{
		font-size: 13px;
	}
	
	.indepth_calle_text{
		height: auto;
		margin-bottom: 5px;
	}
	
	#indeptt_map_c{
		width: 90%;
		
	}
	
	#indepth_kilometros{
		position: inherit;
	}
	
	#indepth_velocimetro{
		width: 120px;
		height: 130px;
	}
	
	#indepth_street_view{
		width: 100%;
		height: 400px;
		top: inherit;
	    top: 50%;
		margin-top: -125px;
	}
	
	#indepth_pov{
		width: 70%;
		height: 50px;
		
	}
	
	#indepth_auto{
		height: 50px;
	}
	
	#indepth_video_a video {
	    bottom: 50%;
	    transform: translateY(50%);
	    -moz-transform: translateY(50%);
	    -webkit-transform: translateY(50%);
	    -o-transform: translateY(50%);
	   
	}
	
	#indepth_resultados{
		padding: 10px;
		width: calc(100% - 40px);
	}
	
	#indepth_res_cont_des{
		text-align: left;
	}
	
	#indepth_street_view{
		overflow: auto !important;
	}
	
	#res_distancia, #res_tiempo, #res_velocidad{
		width: 60px;
		font-size: 10px;
		padding: 10px 0;
	}
	
	#res_distancia:after, #res_tiempo:after{
		background-position: center center;
		width: 25px;
		background-repeat: no-repeat;
	}
	
	#res_distancia, #res_tiempo {
    padding-right: 25px;
}
	#res_distancia div, #res_tiempo div, #res_velocidad div{
		line-height: 16px;
		font-size: 16px;
	}
	
	#text_to_vel{
		font-size: 10px;
	}
	#indepth_video_a video{
		height: 100%;
	}
	
	#indepth_street_view{
	 height: 250px;
	}
	
	#boton_to_vel {
	    width: 120px;
	    height: 28px;
	    line-height: 30px;
	    font-size: 12px;
	}
	
	
	#indepth_fox_logo{
	background-image: url(../images/fox/FoxVivo.png);
	width: 70px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100000;
}

#indepth_fox_ht{
	background-image: url(../images/fox/Hashtag.png);
	width: 105px;
	height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 20px;
	position: absolute;
	right: 5px;
	z-index: 10;
	z-index: 100000;
}

#indepth_f1_logo{
	background-image: url(../images/fox/F1.png);
	width: 90px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	bottom: 30px;
	left: 5px;
	z-index: 10;
	position: absolute;
	z-index: 100000;
}

.gif{
	display: none;
}

#indepth_direction_cont{
	background-image: url(../images/Fondo_portada.png);
}

#cont_to_vel{
	bottom: 50px;
}

#indepth_noST_msg{
	max-width: 200px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	font-size: 12px;
}

	
}

@media screen and (max-width: 375px){
	#pac-input{
		width: 300px;
	}
	.indepth_comprate{
		font-size: 12px;
		margin: 5px auto;
	}
	
	.indepth_share_item2{
		margin: 5px;
	}
	
	#indepth_fox_branding{
	width: 150px;
	height: 30px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	background-image: url(../images/fox/FoxSports.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#indepth_ver{
	margin-top: 10px;
}


}

@media screen and (max-width: 360px){
	.indepth_share_item2{
		width: 110px;
		height: 30px;
		line-height: 32px;
	}
	
	#indepth_semaforo{
	max-width: 176px;
	width: 90%;

}

.indepth_semaforo_item{
	width:30px;
	margin:0 7px;
	
   
}
}

@media screen and (max-height: 700px){
	#indepth_portada_img img{
		max-width: 300px;
	}
	
	#indepth_portada_img {
	    background-size: 800px auto, 800px auto;
	    padding-top: 30px;
	}
	
	#map{
		height: 400px;
	}
	
	.indepth_cover_descripcion{
		font-size: 14px;
	}
}

@media screen and (max-height: 650px){
	#map{
		height: 300px;
	}
	
	
	#indepth_velocimetro{
		width: 100px;
		height: 90px;
		bottom: 10%;
	}

}
